# Basic .gitattributes for a python repo.

# Auto-detect text files and normalize line endings to LF
* text=auto eol=lf

# Source files
# ============
*.pxd    text diff=python
*.py     text diff=python
*.py3    text diff=python
*.pyw    text diff=python
*.pyx    text diff=python
*.pyz    text diff=python
*.pyi    text diff=python

# Explicitly declare text files
*.md     text
*.txt    text
*.toml   text
*.cfg    text
*.ini    text
*.yml    text
*.yaml   text
*.json   text
*.csv    text
*.sql    text
*.sh     text eol=lf
*.rst    text

# Windows-specific scripts should keep CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Binary files
# ============
*.db     binary
*.sqlite binary
*.sqlite3 binary
*.p      binary
*.pkl    binary
*.pickle binary
*.pyc    binary export-ignore
*.pyo    binary export-ignore
*.pyd    binary
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.ico    binary
*.pdf    binary
*.zip    binary
*.whl    binary
*.tar.gz binary
*.so     binary

# Jupyter notebook
*.ipynb  text
